DB_PASSWORD=nginx
WIKI_UPGRADE_KEY=changeme
WIKI_SECRET_KEY=changeme
EXPIDUS_CLOUD_CLIENT_ID=changeme
EXPIDUS_CLOUD_CLIENT_SECRET=changeme
OPENCHANNEL_MARKETPLACE_ID=changeme
OPENCHANNEL_SECRET=changeme
